version: "3.8"
services:
  python-api:
    build: ./python
    container_name: python-api
    ports:
      - "8000:8000"
    networks:
      - backend

  java-api:
    build: ./java
    container_name: java-api
    ports:
      - "8080:8080"
    networks:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - python-api
      - java-api
    networks:
      - backend

networks:
  backend: