version: "3.8"

services:
  login-service:
    image: login-service:latest
    ports: ["8082:8082"]
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://sachu01.c6reawuqi249.us-east-1.rds.amazonaws.com:5432/sachu
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: sachu123
      AWS_REGION: us-east-1
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_COGNITO_USERPOOL_ID: us-east-1_mPnp7FUWD
      AWS_COGNITO_APP_CLIENT_ID: 4p8dsmf03m5hvpf1ta36q468ab
    restart: unless-stopped

  register-service:
    image: register-service:latest
    container_name: register-service
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://sachu01.c6reawuqi249.us-east-1.rds.amazonaws.com:5432/sachu
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: sachu123
      AWS_REGION: us-east-1
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_COGNITO_USERPOOL_ID: us-east-1_mPnp7FUWD
      AWS_COGNITO_APP_CLIENT_ID: 4p8dsmf03m5hvpf1ta36q468ab
    restart: unless-stopped


  countrydetails-service:
    build: ./countrydetails-service
    ports: ["8083:8083"]

  data-service:
    build:
      context: .
      dockerfile: data-service/Dockerfile
    environment:
      DB_URL: jdbc:postgresql://sachu01.c6reawuqi249.us-east-1.rds.amazonaws.com:5432/sachu
      DB_USER: postgres
      DB_PASS: sachu123
    ports: ["8085:8085"]

  api-gateway:
    build: ./api-gateway
    ports: ["8080:8080"]
    depends_on:
      - login-service
      - register-service
      - countrydetails-service
      - data-service

networks:
  default:
    name: global-credit-network
    driver: bridge
